
APP_ENV=

ALLOWED_EMAIL_DOMAINS=

NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_DESCRIPTION=

AUTH_SECRET=
NEXTAUTH_URL=

DATABASE_URL=
OPENROUTER_API_KEY=
OPENAI_API_KEY=
GROQ_API_KEY=

# S3 stuff
S3_ENDPOINT_URL=
S3_BUCKET_NAME=
S3_ACCESS_ID_KEY=
S3_SECRET_ACCESS_KEY=
S3_REGION=
S3_PUBLIC_ENDPOINT=
NEXT_PUBLIC_S3_ENDPOINT=

# emails
POSTMARK_API_KEY=
AUTH_POSTMARK_KEY=
EMAIL_FROM=


# Cloudflare Workers AI (for custom embeddings)
CLOUDFLARE_API_KEY=
CLOUDFLARE_ACCOUNT_ID=

REPLICATE_API_KEY=